# Dependency directories and files
**/node_modules
**/.yarn/cache/**
**/.yarn/unplugged/**
**/.yarn/*.gz
**/.yarn/version*
package-lock.json
yarn.lock
.pnp.*

# Secret files
.env

# Build output and coverage
dist/
coverage/
**/*.tsbuildinfo

# Logs and temp files
*.log
tmp
.nyc*
config_*

# Documentation
/docs

# Release artifacts
/*.tgz
release*/git-command-helper-*.tgz

# TypeScript/Javascript files (underscore-prefixed)
_*.ts
_*.js
