# =========================
# Dependencies
# =========================
node_modules/
.yarn/
!.yarn/cache/
!.yarn/unplugged/
!.yarn/*.gz
!.yarn/version*
package-lock.json
yarn.lock
.pnp.*

# =========================
# Secrets
# =========================
.env

# =========================
# Build output
# =========================
dist/
coverage/
*.tsbuildinfo

# =========================
# Logs / temp
# =========================
*.log
tmp/
.nyc*/
config_*/

# =========================
# Docs
# =========================
docs/

# =========================
# Release artifacts
# =========================
*.tgz
!release*/**/*.tgz

# =========================
# Internal / generated TS/JS
# =========================
_*.[tj]s
